<!--Using custom styling here-->
<style>
  .wrapper
    {
      position: relative;
    }
  .right, .left, .center
    {
      width:50%;
      position: absolute;
    }
  .right
    {
      right: 0;
    }
  .left
    {
      left: 0;
    }
  .center
    {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
</style>

<div class = "container">
  <h3>RISK Game Lobbies</h3>
  <div class = "jumbotron">
    Fake Game Lobby
  </div>
  <div class="left">
    Game Info Div
  </div>
  <div class"right">
    Players Div
  </div>
  <table class="table">
    <tr>
      <th></th>
      <th>Game ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <div class="center">
    Chat Div
  <div>
</div>

    <% _.each(games, function(games)
      { %>
        <tr data-id="<%= gameState.gameID %>" data-model="GamesController">
          <td><%= gameState.gameID %></td>
          <td><a href="/game/show/<%= gameState.gameID %>" class="btn btn-sm btn-primary">Join Game</a></td>
          <td>
              <form action="/user/destroy/<%= gameState.gameID %>" method="POST">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" class="btn btn-sm btn-danger" value="Delete Game"/>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
          </td>
        </tr>
    <% }) %>
  </table>
</div>
